body {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
}

.progress-bar {
    height: 4px;
    /* background: #04AA6D; */
    background-color: rgb(234 179 8);
    width: 0%;
}

.content {
    padding: 100px 0;
    margin: 100px auto 0 auto;
    width: 80%;
}


.up-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    opacity: .7;
    /* background: #333; */
    background: rgb(234 179 8);
    cursor: pointer;
    position: fixed;
    z-index: 2000;
    transition: all .4s ease-in-out;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.up-btn.up-btn__hide {
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.up-btn:hover {
    opacity: 1;
}

.up-btn.up-btn_circle {
    border-radius: 50%;
}

.up-btn__img {
    width: 100%;
    max-width: 100%;
}